* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #000;
  transition: 0.3s all cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark {
  background-color: #000;
  color: #fff;
}

.sectionTimes {
  background-image: url(./assets/wp2956516.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.backgroundSurah {
  background-image: url(./assets/patternbeatiful.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
